/* --------------------------- Global style */
* {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Lato, sans-serif;
}

/* --------------------------- Navbar background */
.navbar {
    background-color: #08090a;
}

/* --------------------------- Footer */
.dark-bg {
    background-color: #08090a;
    bottom: 0;
}

.footer {
    word-spacing: 1.5px;
    background-color: #08090a;
    bottom: 0;
}

/* --------------------------- Fontawesome icons */
.dark-bg i {
    font-size: 1rem;
    word-spacing: 0.5rem;
}

.dark-bg i:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: transform 100ms;
}

/*--------------------------- Card Styling */
.card {
    border: none;
    background-color: transparent;
    position: relative;
}

.card-body {
    word-spacing: 3px;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 20%;
    left: -2px;
    background-color: gold;
}

.author {
    color: black;
    margin: 5px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    text-transform: uppercase;
}

.masthead {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 30vh;
    width: 100%;
}

.masthead-text {
    background-color: #3e4042;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #3e4042;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

/*--------------------------------- Form container*/
.form {
    margin-top: 12%;
}

.add-post {
    margin-top: 7%;
}

/*--------------------------------- Button */
.btn-signup {
    background-color: blue;
    color: white;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/*---------------------------------- Media Queries*/
@media screen and (max-width: 414px) {
    body {
        overflow-x: hidden;
    }

    .form {
        text-align: center;
        margin-top: 50%;
    }
}