{% extends "base.html" %}
{% block content %}

div class="container-fluid">
    <div class="row">

        <!-- Blog Posts -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for musician in musician_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in musician.artist_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/duyhhodva/image/upload/v1683303092/9d7a0084-0acf-460a-ad16-3e721a74268e659a0540510965ede1_68537198_10103415571025198_6256496714262249472_o_yghpne.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ musician.artist_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ musician.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' musician.slug  %}"" class="post-link">
                                <h2 class="card-title">{{ musician.artist }}</h2>
                                <p class="card-text">{{ musician.genre }}</p>
                                <p class="card-text">{{ musician.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ musician.created_on}} <i class="far fa-heart"></i>
                                {{ musician.number_of_likes }} </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    <!--Site Pagination-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}

{% endblock %}